/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2017-02-22 13:03:33 */

.header-container.type3 .header .form-search { border-width: 3px; }
  .footer-top, .footer-middle, .footer-bottom {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
@media (min-width: 768px) {
  .footer-top, .footer-middle, .footer-bottom {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .footer-top, .footer-middle, .footer-bottom {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .footer-top, .footer-middle, .footer-bottom {
    width: 1140px;
  }
}